html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    font-family: 'Comfortaa', cursive;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
button{
    padding: 0;
    border-radius: 0;
    border: none;
    cursor: pointer;
}
.buy-btn:hover{
    background-color: #7B6152;
    color: #FFF;
    transition: .4s;
}
.container{
    max-width: 1180px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
.title{
    margin-bottom: 15px;
    font-family: Yeseva One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}
section{
    padding-bottom: 150px;
}
.button{
    padding: 18px 54px;
    background: #FFBD59;
    font-size: 14px;
    color: #272727;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
}
.section__decor{
    position: relative;
}
.section__decor::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(/images/section-decor.png);
    width: 22px;
    height: 30px;
}
.section__decor::after {
    content: "";
    position: absolute;
    left: 22px;
    bottom: 13px;
    background-color: #7B6152;
    width: 1000%;
    height: 1px;
}
header{
    background-color: #FFF8F3;
}
.header__inner{
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list{
    display: flex;
    gap: 20px;
}
.menu__list-item{
    text-transform: uppercase; 
}
.menu__list-link:hover{
    color: #f7aa35;
}
.phone{
    position: relative;
}
.phone::before{
    position: absolute;
    left: -23px;
    top: -3px;
    content: '';
    background-image: url(/images/phone.svg);
    width: 20px;
    height: 20px;
}
.menu__btn{
    display: none;
    width: 30px;
    height: 25px;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-between;
}
.menu__btn span{
    height: 1px;
    background-color: #7B6152;
    width: 100%;
}
.main{
    background-color: #FFF8F3;
    overflow-x: clip;
}
.top{
    padding-bottom: 150px;
    padding-top: 40px;
}
.top__inner{
   position: relative; 
}
.top__content{
    width: 370px;
    padding: 150px 0 250px;
}
.top__title{
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
.top__text{
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 48px;
}
.top__buy{
    padding: 18px 54px;
    background: #FFBD59;
    font-size: 14px;
    color: #272727;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
}
.top__img{
    position: absolute;
    left: 240px;
    top: 0;
}
.about{
    background-color: #A5978E;
    padding: 50px 0;
    color: #FAFAFA;
    margin-bottom: 150px;
}
.about__inner{
    display: flex;
    align-items: center;
}
.about__content{
    min-width: 370px;
}
.about-text{
    margin-bottom: 15px;
}
.about__list{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 110px;
    padding-bottom: 48px;
}
.about__item-img{
    margin-bottom: 10px;
}
.about__item-text{
    font-size: 11px;
}
.section__inner{
    display: grid;
    grid-template-columns: 370px auto;
}
.section__content-descr{
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 92px;
}
.products__content{
    gap: 50px 90px;
}
.products__item{
    width: 290px;
    text-align: center;
    margin: 0 auto;
}
.products__title{
    font-family: Yeseva One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}
.products__text{
    font-size: 14px;
    width: 327px;
}
.products__item-img{
    width: 273px;
    height: 310px;
    margin-bottom: 8px; 
}
.products__item-price{
    font-family: Yeseva One;
    margin-bottom: 12px;
    font-size: 16px;   
    font-weight: 400;
    margin: 0;
} 
.products__item-title{
    font-family: Yeseva One;
    font-size: 16px;  
    margin: 0; 
    margin-bottom: 16px; 
    font-weight: 400;
} 
.products__item-text{
    font-size: 12px;  
    margin-bottom: 27px;
}
.steps__list{
    gap: 70px 25px;
    counter-reset: number;
}
.steps__item{
    display: flex;
    gap: 40px;
    list-style-type: none;
    position: relative;
}
.steps__item::before{
    position: absolute;
    bottom: 0;
    left: 0;
    counter-increment: number;
    content: '0' counter(number);
    font-size: 25px;
    color: #000;
    color: #BEA495;
    font-family: Yeseva One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.steps__item:nth-child(n+10):before{
    content: counter(number);
}
.steps__item.steps__item--even::before{
    left: auto;
    right: 0;
}
.steps__item-text{
    flex-basis: 174px;
    padding-bottom: 40px;
}
.courses__item-img{
    position: relative;
    color: #fff;
    font-size: 11px;
    font-family: 'Yeseva One', cursive;
}
.course-img{
    height: auto;
}
.couses__title{
    padding: 15px;
    background-color: #BEA495;
    position: absolute;
    left: 5px;
    top: 42%;
}
.couses__time{
    padding: 7px 10px;
    background-color: #BEA495;
    position: absolute;
    left: 5px;
    top: 57%;
}
.couses__time span{
    font-size: 10px;
    font-family: 'Comfortaa', cursive;
}
.couses__price{
    padding: 19px 10px;
    background-color: #BEA495;
    position: absolute;
    bottom: -8px;
    right: 0;
}
.courses__item-title{
    font-family: Yeseva One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
}
.courses__item-text{
    font-size: 14px;
}
.team{
    background-color: #A5978E;
    padding: 80px 60px;
    color: #fff;
    margin-bottom: 150px;
}
.team__content{
    padding-bottom: 0;
    gap: 75px;
}
.team__item{
    position: relative;
}
.team__item-box{
    background-color: #7B6152;
    text-align: center;
    position: absolute;
    padding: 14px 10px;
    width: 165px;
    z-index: 4;
    bottom: 13px;
    right: 30px;
}
.team__item-name{
    font-size: 12px;
    font-family: Yeseva One;
    margin: 0;
}
.team__item-descr{
    font-size: 10px;
    margin: 0;
}
.feedback__content{
    padding-bottom: 110px;
}
.feedback__item-content{
    margin-bottom: 70px;
}
.feedback__item{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 16px;
    align-items: center;
}
.feedback__item-video{
    position: relative;
}
.feedback__item-videobtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
.feedback__item-sociallink{
    margin-bottom: 12px;
}
.feedback__item-name{
    margin-bottom: 15px;
    font-size: 16px;
    font-family: Yeseva One;
}
.feedback__item-text{
    font-size: 15px;
}
.feedback__item-btn{
    position: absolute;
    bottom: 10px;
    right: 0;
}
.feedback__slider{
    width: 760px;
    overflow: hidden;
}
.feedback__descr{
    margin-right: 20px;
}
.feedback__content .swiper-pagination{
   bottom: 50px;
}
.swiper-pagination-bullet{
    background-color: #BEA495;
    height: 4px;
    width: 53px;
    border-radius: 0;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #7B6152;
}
.certificates__slider{
    width: 1135px;
    overflow: hidden;
}
.certificates__descr{
    margin-right: 20px;
}
.certificates__content{
    padding-bottom: 114px;
}
.certificates__content .swiper-pagination{
    bottom: 60px;
 }
.accordeon__item{
    background-color: #fff;
    margin-bottom: 10px;
}
.accordeon__title{
  font-size: 16px;
  font-family: Yeseva One;
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent;
  padding: 16px 50px 16px 13px;
  position: relative;
}
.accordeon__title::after{
    content: '';
    background-image: url(/images/arrow.svg);
    width: 16px;
    height: 16px;
    position: absolute;
    right: 26px;
    top: 17px;
}
.accordeon__title.accordeon__title--active::after{
    transform: rotate(180deg);
}
.accordeon__title:hover{
    background-color: #fedba5;
    transition: .2s;
}
.accordeon__text{
   opacity: 0;
   max-height: 0;
   transition: opacity .3s, max-height .3s;
}
.accordeon__text.accordeon__text--visible{
    opacity: 1;
 }
.accordeon__text-content{
    padding: 20px 40px;
}
.promo{
    background-image: url(/images/promo-bg.jpg);
    padding: 140px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promo__inner{
    display: flex;
    align-items: center;
}
.promo__text{
    font-family: Yeseva One;
    font-size: 40px;
    color: #fff;
    padding-left: 56px;
    max-width: 765px;
    margin-right: 110px;
}
.promo__link{
    color: #272727;
    display: inline-block;
    padding: 17px 45px;
    font-size: 14px;
    font-weight: 600;
    background-color: #FFBD59;
}
.promo__link:hover{
    background-color: #7B6152;
    color: #FFF;
    transition: .5s;
}
.contacts__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 0 50px;
}
.form{
    width: 664px;
    background-color: #fff;
    padding: 75px 42px 67px;
}
.form__title{
    font-family: Yeseva One;
    font-size: 40px;
    margin-bottom: 50px;
    color: #000;
}
.form__input{
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    margin-bottom: 15px;
    padding: 7px 10px;
    color: #000;
}
.form__input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.form__input::placeholder{
    color: #B3B3B3;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form__btn{
    margin-top: 36px;
    padding: 17px 34px;
    background-color: #FFBD59;
    color: #272727;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footer{
    padding: 40px 35px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__contacts{
    display: flex;
    flex-direction: column;
    width: 230px;
}
.email{
    margin: 17px 0;
}
.footer__social{
    display: flex;
    align-items: start;
    gap: 15px;
    padding: 0;
}
.footer__social-link:hover{
    opacity: 0.7;
}

@media (max-width:1100px){
    .steps__list{
        gap: 37px 35px;
    }
    .steps__item{
        gap: 0 30px
    }
}

@media (max-width:1000px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .top__content{
        width: 333px;
        padding: 95px 0 70px;
    }
    .top__img{
        left: 300px;;
    }
    .top__img-l{
        width: 655px;
    }
    .about__content{
        min-width: 300px;
    }
    .about__list{
        padding-left: 20px;
    }
    .section__inner{
        grid-template-columns: 290px auto;
        gap: 0 15px;
    }
    .products__content{
        gap: 67px;
    }
    .section__text{
        font-size: 10px;
    }
    ol {
        padding-inline-start: 0;
    }
    .team{
        padding: 50px 0;
    }
    .team__item{
        width: 315px;
    }
    .team__item-box{
        right: 5px;
    }
    .team__content{
        gap: 30px 20px;
    }
    .feedback__inner{
        grid-template-columns: 260px auto;
    }
    .feedback__slider{
        width: 690px;
    }
    .certificates__content img{
        width: 280px;
    }
    .certificates__slider{
        width: 880px;
    }
    .promo__link{
        min-width: 170px;
    }
    .products__text{
        padding-left: 0;
    }
    .contacts__img{
        width: 335px;
        height: 510px;
    }
    .form{
        width: 590px;
    }
}
@media (max-width:980px) {
     .steps__list{
        gap: 25px 35px;
    }
    .steps__item{
        gap: 0 20px
    }
    .steps__item-img{
        width: 85px;
        object-fit: cover;
    }
    .steps__item-text{
        font-size: 8px;
    }
    .steps__item::before{
        font-size: 20px;
    }
    .steps__title{
        font-size: 30px;
    }
}
@media (max-width:900px) {
    .footer__inner{
        flex-wrap: wrap;
    }
    .footer__contacts{
        width: 100%;
        text-align: center;
        padding-top: 15px;
    }
    .footer__social{
        justify-content: center;
    }
    .top__text{
        margin-bottom: 30px;
    }
    .section__inner{
        grid-template-columns: 200px auto;
        gap: 0 10px;
    }
    .products__content{
        gap: 30px 16px;
    }
}
@media (max-width:850px) {
    .menu__list {
        gap: 10px;
    }
}
@media (max-width:768px) {
    body{
        font-size: 10px;
    }
    .container{
        max-width: 640px;
    }
    .phone::before{
        left: -16px;
        top: -2px;
        width: 14px;
        height: 14px;
        background-size: cover;
    }
    .menu__list{
        gap: 17px;
    }
    .top__content{
        width: 230px;
    }
    .top__title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .top__text{
        margin-bottom: 20px;
    }
    .top__img{
        left: 180px;;
    }
    .about__content{
        min-width: 200px;
    }
    .title{
        font-size: 15px;
    }
    .about__title{
        margin-bottom: 20px;
    }
    .about__list{
        margin-left: 27px;
        margin-bottom: 23px;
        gap: 0 10px;
    }
    .about__item-text{
        font-size: 6px;
    }
    .about__item-img{
        margin-bottom: 6px;
    }
    .about__item-img--1{
        width: 120px;
    }
    .about__item-img--2{
        width: 190px;
    }
    .about__item-img--3{
        width: 120px;
    }
    .products__item{
        width: 200px;
    }
    .products__item-img{
        width: 188px;
        height: 200px;
        margin-bottom: 6px;
    }
    .button{
        font-size: 12px;
        padding: 10px 26px;
    }
    .products__item-price{
        font-size: 12px;
        margin-bottom: 7px;
    }
    .products__item-title{
        font-size: 12px;
        margin-bottom: 9px;
    }
    .products__item-text{
        font-size: 8px;
        margin-bottom: 18px;
    }
    .section__text{
        width: 200px;
    }
    .course-img{
        width: 197px;
        height: auto;
    }
    .couses__title{
        padding: 7px;
        font-size: 10px;
        left: 0;
    }
    .couses__time {
        padding: 7px;
        left: 0;
        padding: 7px;
        font-size: 10px;
    }
    .couses__price {
        padding: 10px 7px;
        bottom: -8px;
        right: -2px;
        font-size: 10px;
    }
    .courses__item-title {
        font-size: 12px;
    }
    .courses__item-text {
        font-size: 10px;
    }
    .team__item{
        width: 210px;
    }
    .team__img{
        width: 142px;
    }
    .team__item-box{
        padding: 8px 13px;
        right: -4px;
        bottom: 8px;
        width: 110px;
    }
    .team__content{
        gap: 30px 14px;
    }
    .team__item-name{
        font-size: 8px;
    }
    .team__item-descr{
        font-size: 6px;
    }
    .feedback__item-video{
        width: 200px;
    }
    .feedback__item-img{
        width: 200px;
    }
    .feedback__slider{
        width: 450px;
    }
    .feedback__item-text {
        font-size: 10px;
    }
    .feedback__item-content{
        margin-bottom: 45px;
    }
    .promo__text{
        font-size: 15px;
    }
    .promo__link{
        font-size: 12px;
        min-width: 125px;
        padding: 17px 28px;
    }
    .promo{
        padding: 67px 0;
    }
    .contacts__img{
        width: 187px;
        height: 280px;
    }
    .form{
        width: 440px;
        padding: 30px 18px 30px 22px;
        gap: 0 20px;
        margin-right: 15px;
    }
    .form__title{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .form__input{
        font-size: 10px;
    }
    .form__btn{
        margin-top: 30px;
    }
    }
@media (max-width:640px) {
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .header__menu-list{
        width: 153px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
        background-color: #7B6152;
        color: #FFF8F3;
        flex-direction: column;
        gap: 20px 0;
        padding: 25px 35px 25px 45px;
        transform: translateY(-110%);
        transition: transform .5s ease;
    }
    .header__menu-list.menu__open{
        transform: translateY(0%);
    }
    .header__menu-list.menu__open:hover{
        background-color: #8f837c;
    }
    .menu__btn{
        display: flex;  
    }
    .header__menu{
        order: 1;
    }
    .section__inner{
        display: block;
    }
    .section__descr{
        margin-bottom: 30px;
        text-align: center;
    }
    .section__text{
        width: auto;
    }
}
@media (max-width:600px) {
    .footer__inner{
        flex-direction: column;
    }
    .footer__menu-list{
        flex-direction: column;
        padding: 0;
    }
    .footer{
        padding: 50px 0;
        font-size: 14px;
    }
    .footer__menu{
        padding: 50px 0;
        text-align: center;
    }
    .promo{
        padding: 42px 0px;
    }
}
@media (max-width:480px) {
    .top__img-l{
        width: 309px;
    }
    .top__img{
        left: 160px;
    }
    .top__content{
        width: 180px;
    }
    .top__text{
        font-size: 8px;
        margin-bottom: 15px;
    }
    .top__title{
        font-size: 15px;
        margin-bottom: 15px;
    }
    .top__buy{
        padding: 14px 41px;
        font-size: 10px;
    }
    .top{
        padding: 30px 0 50px;
    }
    .about{
        margin-bottom: 50px;
    }
    .about__content{
        min-width: 172px;
    }
    .about__list{
        margin-left: 0;
        padding-left: 10px;
    }
    .about__item-text{
        display: none;
    }
    .about__item-img--1, .about__item-img--3{
        width: 80px;
    }
    .about__item-img--2{
        width: 140px;
    }
    .about__list{
        gap: 0 5px;
        align-items: flex-end;
        margin-bottom: 0;
    }
    .about__inner{
        align-items: flex-end;
    }
    .section{
        padding-bottom: 50px;
    }
    .section__content-descr{
        padding-bottom: 62px;
    }
    .section__descr{
        margin: 0 auto 30px;
        width: 300px;
    }
    .steps__list{
        gap: 25px 40px;
    }
    .team{
        margin-bottom: 50px;;
    }
    .certificates__content img {
        width: 200px;
    }
    .certificates__slider{
        width: 415px;
        margin: 0 auto;
    }
    .contacts__inner {
        justify-content: center;
        padding: 50px 0 50px;
    }
    .contacts__img{
        display: none;
    }
    .form{
        margin-right: 0;
    }
    .form__input::placeholder{
        font-size: 10px;
    }
    .form__btn{
        font-size: 8px;
        padding: 13px 15px;
    }
    .promo__link{
        font-size: 8px;
        min-width: 80px;
        padding: 11px 15px;
        margin-right: 30px;
    }
    .promo__text {
        margin-right: 50px;
    }
}
@media (max-width:420px) {
    .courses__content{
        grid-template-columns: auto;
    }
    .course-img, .courses__item{
        width: 255px;
    }
    .team__content{
        grid-template-columns: auto;
    }
    .team__item{
        width: 300px;
        margin: 0 10px;
    }
    .team__img{
        width: 204px;
    }
    .team__item-box{
        right: 2px;
        width: 152px;
    }
    .team__content{
        gap: 20px;
    }
    .team__item-name{
        font-size: 11px;
    }
    .team__item-descr{
        font-size: 9px;
    }
    .promo__text{
        margin-right: 50px;
        padding-left: 0;
    }
    .promo__link{
        margin: 0;
    }
    .form{
        width: 340px;
        margin: 0 10px;
    }
}
@media (max-width:400px) {
    .steps__list{
        gap: 20px 25px;
    }
    .steps__item{
        gap: 0 16px;
    }
    .steps__item-img{
        width: 66px;
    }
    .steps__item-text {
        font-size: 6px;
    }
    .steps__item::before {
        font-size: 12px;
    }
}
@media (max-width:360px) {
    .top__img-l{
        width: 165px;
    }
    .top__img{
        left: auto;
        right: -10px;   
        top: -25px;
    }
    .top__content{
        width: 200px;
        padding: 20px 0 0;
        position: relative;
        z-index: 1;
    }
    .top__text{
        font-size: 10px;
    }
    .top__title{
        font-size: 18px;
    }
    body{
        font-size: 8px;
    }
    .about__content{
        min-width: 233px;
    }
    .title{
        margin-bottom: 10px;
    }
    .about__list{
        padding-left: 0px;
        margin-left: 12px;
        gap: 0 15px;
        padding-bottom: 30px;
    }
    .about{
        padding-top: 25px;
        padding-bottom: 10px;
    }
    .about__item-img--2{
        display: none;
    }
    .section__descr{
        margin: 0 auto 25px;
        width: 235px;
    }
    .products__item{
        width: 150px;
    }
    .products__content{
        gap: 40px 7px;
    }
    .products__item-img{
        width: 141px;
        height: 165px;
    }
    .button{
        font-size: 8px;
        padding: 8px 20px;
    }
    .products__item-price{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .products__item-title{
        font-size: 10px;
    }
    .products__item-text{
        margin-bottom: 16px;
    }
    .course-img, .courses__item{
        width: 255px;
        height: auto;
    }
    .course__button{
        font-size: 12px;
    }
    .certificates__slider{
        width: 200px;
    }
    .feedback__item {
        grid-template-columns: auto;
        text-align: center;
    }
    .feedback__slider{
        width: 250px;
        margin: 0 auto;
    }
    .feedback__item-img{
        width: 250px;
        margin: 0 auto 20px;
    }
    .feedback__item-video{
        width: 250px;
    }
    .feedback__item-btn{
        bottom: 0;
        margin: 0 auto;
        left: 0;
        max-width: 100px;
    }
}
